In [1]:
# Library Configurations
import pandas as pd
import numpy as np

In [2]:
# Pandas - Dataframe
# Think of it as SQL Tables
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
# Creating DF via Lists
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [5]:
# Customizable Attribute Headers
data = [['John Carmer','USA',51],['Hector Vickers','Canada',24],['Albert Kor','USA',27]]
df = pd.DataFrame(data, columns=['Name','Nationality','Age'])
print(df)

             Name Nationality  Age
0     John Carmer         USA   51
1  Hector Vickers      Canada   24
2      Albert Kor         USA   27

In [8]:
# Floating point variable
data = [['Apple Inc.',450000],['Huawei Corp',56000],['Microsoft',54500]]
df = pd.DataFrame(data, columns=['Company','Assets'], dtype=float)
print(df)

       Company    Assets
0   Apple Inc.  450000.0
1  Huawei Corp   56000.0
2    Microsoft   54500.0

C:\Users\y50023848\AppData\Local\Temp\ipykernel_1196\2823701242.py:3: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data, columns=['Company','Assets'], dtype=float)

In [9]:
# Creating data from Dictionaries of Np Arrays or Lists
data = {'Nations':['Mondstandt','Liyue','Inazuma'],'Element':['Anemo','Geo','Electro']}
df = pd.DataFrame(data)
print(df)

      Nations  Element
0  Mondstandt    Anemo
1       Liyue      Geo
2     Inazuma  Electro

In [11]:
# Index can be customized
data = {'Nations':['Mondstandt','Liyue','Inazuma'],'Element':['Anemo','Geo','Electro']}
df = pd.DataFrame(data, index=['Barbatos','Morax','Baal/Beezelbul'])
print(df)

                   Nations  Element
Barbatos        Mondstandt    Anemo
Morax                Liyue      Geo
Baal/Beezelbul     Inazuma  Electro

In [15]:
# Creating DF from Lists of Dicts
data = [{'A':13,'B':56},{'A':45,'B':61,'C':71}]
df = pd.DataFrame(data, index=['Class 1', 'Class 2'], columns=['C','B','A','S'])
print(df)

            C   B   A   S
Class 1   NaN  56  13 NaN
Class 2  71.0  61  45 NaN

In [16]:
# Creating DF from Dictionaries of Series
d = {
  'one': pd.Series(['T150','R158','K106'],index=['A','B','C']),
  'two': pd.Series([1,2,3,4], index=['A','B','C','D'])
}
df = pd.DataFrame(d)
print(df)

    one  two
A  T150    1
B  R158    2
C  K106    3
D   NaN    4

In [18]:
# DF Column Selection
data = {'Nations':['Mondstandt','Liyue','Inazuma'],'Element':['Anemo','Geo','Electro']}
df = pd.DataFrame(data, index=['Barbatos','Morax','Baal/Beezelbul'])
print(df['Nations'])

Barbatos          Mondstandt
Morax                  Liyue
Baal/Beezelbul       Inazuma
Name: Nations, dtype: object

In [28]:
# DF Column Additions
df['Archon Mortal Name'] = pd.Series(
  ['Venti','Zhongli','Ei'],
  index=['Barbatos','Morax','Baal/Beezelbul']
)
print(df)

                   Nations  Element Archon Mortal Name
Barbatos        Mondstandt    Anemo              Venti
Morax                Liyue      Geo            Zhongli
Baal/Beezelbul     Inazuma  Electro                 Ei

In [29]:
# DF Column Literal Addition
# Works with numbers and float too
df['What']=df['Nations']+df['Element']
print(df)

                   Nations  Element Archon Mortal Name             What
Barbatos        Mondstandt    Anemo              Venti  MondstandtAnemo
Morax                Liyue      Geo            Zhongli         LiyueGeo
Baal/Beezelbul     Inazuma  Electro                 Ei   InazumaElectro

In [30]:
# DF Column Deletion
del(df['What'])
print(df)

df.pop('Archon Mortal Name')
print(df)

                   Nations  Element Archon Mortal Name
Barbatos        Mondstandt    Anemo              Venti
Morax                Liyue      Geo            Zhongli
Baal/Beezelbul     Inazuma  Electro                 Ei
                   Nations  Element
Barbatos        Mondstandt    Anemo
Morax                Liyue      Geo
Baal/Beezelbul     Inazuma  Electro

In [32]:
# DF Row Selection
print(df.loc['Morax'])

Nations    Liyue
Element      Geo
Name: Morax, dtype: object

In [34]:
# DF Row Selection via integer index
print(df.iloc[0])

Nations    Mondstandt
Element         Anemo
Name: Barbatos, dtype: object

In [37]:
# DF Row Slicing
print(df[1:3])

                Nations  Element
Morax             Liyue      Geo
Baal/Beezelbul  Inazuma  Electro

In [38]:
# DF Row Addition
df2 = pd.DataFrame(
  [
    ['Sumeru','Dendro'],
    ['Fontaine','Hydro']
  ]
  ,columns=['Nations','Element']
)
df = df.append(df2)
print(df)

                   Nations  Element
Barbatos        Mondstandt    Anemo
Morax                Liyue      Geo
Baal/Beezelbul     Inazuma  Electro
0                   Sumeru   Dendro
1                 Fontaine    Hydro

C:\Users\y50023848\AppData\Local\Temp\ipykernel_1196\2950863120.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2)

In [39]:
# DF Row Deletion via label
df = df.drop('Morax')
print(df)

                   Nations  Element
Barbatos        Mondstandt    Anemo
Baal/Beezelbul     Inazuma  Electro
0                   Sumeru   Dendro
1                 Fontaine    Hydro