In [1]:
# Library Configurations
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
# Table wise Function Application -> pipe()
# Row/Column wise Function Application -> apply()
# Element wise Function Application -> applymap()

In [3]:
# Table wise Function Application

def adder(arg1, arg2):
  return arg1 + arg2

df = pd.DataFrame(np.random.randn(5,3), columns=['col1','col2','col3'])
print(df)

df.pipe(adder, 2)

       col1      col2      col3
0 -0.515297 -0.009962 -1.412147
1  1.391193  2.129699  0.097837
2  2.125848  0.387429  0.009343
3  1.442844  0.531487  1.020814
4  0.328138  0.477386  0.643380

       col1      col2      col3
0  1.484703  1.990038  0.587853
1  3.391193  4.129699  2.097837
2  4.125848  2.387429  2.009343
3  3.442844  2.531487  3.020814
4  2.328138  2.477386  2.643380

In [8]:
# Row/Column wise Function Application

print(df.apply(np.mean))

print(df.apply(np.mean, axis=1))

col1    0.954545
col2    0.703208
col3    0.071845
dtype: float64
0   -0.645802
1    1.206243
2    0.840873
3    0.998382
4    0.482968
dtype: float64

In [10]:
df.apply(lambda x: x.max() - x.min())

col1    2.641145
col2    2.139661
col3    2.432960
dtype: float64

In [14]:
# Element wise Function APplication

print(df)
df['col1'].map(lambda x: x*100)

       col1      col2      col3
0 -0.515297 -0.009962 -1.412147
1  1.391193  2.129699  0.097837
2  2.125848  0.387429  0.009343
3  1.442844  0.531487  1.020814
4  0.328138  0.477386  0.643380
       col1      col2      col3
0 -0.515297 -0.009962 -1.412147
1  1.391193  2.129699  0.097837
2  2.125848  0.387429  0.009343
3  1.442844  0.531487  1.020814
4  0.328138  0.477386  0.643380

col1    0.954545
col2    0.703208
col3    0.071845
dtype: float64